@charset "UTF-8";
input{
    border: none;
    background-color: #fff;
}

#fieldInput1{
    padding: 0.2rem 0.35rem;
    background-color:#fff;
    border: 1px solid #EBEDF0;
    width: 5.9rem;
}

#fieldInput2{
    display: flex;
    padding: 0.2rem 0.35rem;
    border: 1px solid #EBEDF0;
    background-color:#fff;
    width: 5.9rem;
}

#fieldInput2 .title{
    width: 2rem;
    color:#000;
    font-size: 0.35rem;
}

#fieldInput2 input{
    width: 3.9rem;
}

#fieldInput2 .disabled{
    cursor: not-allowed;
}

#fieldInput3{
    display: flex;
    padding: 0.2rem 0.35rem;
    border: 1px solid #EBEDF0;
    background-color:#fff;
    width: 5.9rem;
}

#fieldInput3 .title{
    width: 2rem;
    color:#000;
    font-size: 0.35rem;
}

#fieldInput3 .content{
    display: flex;
    flex-direction: column;
}

#fieldInput3 .alert{
    font-size: 0.35rem;
    color:red;
}

#fieldInput3 input{
    width: 3.9rem;
}

#fieldInput4{
    display: flex;
    background-color:#fff;
    border: 1px solid#EBEDF0;
    padding: 0.2rem 0.35rem;
    width: 5.9rem;
}

#fieldInput4 .title{
    font-size: 0.35rem;
    color:#000;
    width: 1.5rem;
    line-height: 0.6rem;
}

#fieldInput4 input{
    width: 2.5rem;
}

#fieldInput4 button{
    padding: 0.1rem;
    border: none;
    background-color:#07C160;
    color:#fff;
    border-radius: 0.05rem;
    font-size: 0.32rem;
}

#fieldInput5{
    display: flex;
    background-color:#fff;
    border: 1px solid #EBEDF0;
    padding: 0.2rem 0.35rem;
    width: 5.9rem;
}

#fieldInput5 .title{
    width: 1.5rem;
    color:#000;
    font-size: 0.35rem;
}

#fieldInput5 .content{
    padding: 0.05rem 0;
}

#fieldInput5 .content textarea{
    border: none;
    font-size: 0.35rem;
    resize: none;
    height: 1.5rem;
}

#fieldInput5 .content .length{
    text-align: right;
    font-size: 0.3rem;
}