@charset "UTF-8";
#popupBox{
    width: 10rem;
    min-height: 4.5rem;
    position: fixed;
    bottom: 0;
    left: 0;
    border: 1px solid#ddd;
    border-radius: 0.5rem 0.5rem 0 0;
    background-color: #fff;
}

#popupBox .closeBtn{
    position: absolute;
    right: 0.4rem;
    top: 0.2rem;
    font-size: 0.35rem;
    color:#525252;
    cursor: pointer;
}