@charset "UTF-8";
#leftArrow, #rightArrow, #leftDoubleArrow, #rightDoubleArrow{
    position: relative;
}

#leftDoubleArrow, #rightDoubleArrow{
    width: 19px;
    height: 20px;
}

#leftArrow div:first-of-type{
    width: 0;
    height: 0;
    content: '';
    border: 8px solid transparent;
    border-right: 8px solid #A4ADBF;
    position: absolute;
    top: 0;
}

#leftArrow div:last-of-type{
    width: 0;
    height: 0;
    content: '';
    border: 8px solid transparent;
    border-right: 8px solid #fff;
    position: absolute;
    top: 0;
    left: 2px;
}

#rightArrow div:first-of-type{
    width: 0;
    height: 0;
    content: '';
    border: 8px solid transparent;
    border-left: 8px solid #A4ADBF;
    position: absolute;
    top: 0;
}

#rightArrow div:last-of-type{
    width: 0;
    height: 0;
    content: '';
    border: 8px solid transparent;
    border-left: 8px solid #fff;
    position: absolute;
    top: 0;
    left: -2px;
}

#leftDoubleArrow div:nth-of-type(1){
    width: 0;
    height: 0;
    content: '';
    border: 8px solid transparent;
    border-right: 8px solid #A4ADBF;
    position: absolute;
    top: 0;
    left: -5px;
}

#leftDoubleArrow div:nth-of-type(2){
    width: 0;
    height: 0;
    content: '';
    border: 8px solid transparent;
    border-right: 8px solid #fff;
    position: absolute;
    top: 0;
    left: -3px;
}

#leftDoubleArrow div:nth-of-type(3){
    width: 0;
    height: 0;
    content: '';
    border: 8px solid transparent;
    border-right: 8px solid #A4ADBF;
    position: absolute;
    top: 0;
}

#leftDoubleArrow div:nth-of-type(4){
    width: 0;
    height: 0;
    content: '';
    border: 8px solid transparent;
    border-right: 8px solid #fff;
    position: absolute;
    top: 0;
    left: 2px;
}

#rightDoubleArrow div:nth-of-type(1){
    width: 0;
    height: 0;
    content: '';
    border: 8px solid transparent;
    border-left: 8px solid #A4ADBF;
    position: absolute;
    top: 0;
    left: 9px;
}

#rightDoubleArrow div:nth-of-type(2){
    width: 0;
    height: 0;
    content: '';
    border: 8px solid transparent;
    border-left: 8px solid #fff;
    position: absolute;
    top: 0;
    left: 7px;
}

#rightDoubleArrow div:nth-of-type(3){
    width: 0;
    height: 0;
    content: '';
    border: 8px solid transparent;
    border-left: 8px solid #A4ADBF;
    position: absolute;
    top: 0;
    left: 4px;
}

#rightDoubleArrow div:nth-of-type(4){
    width: 0;
    height: 0;
    content: '';
    border: 8px solid transparent;
    border-left: 8px solid #fff;
    position: absolute;
    top: 0;
    left: 2px;
}