@charset "UTF-8";
#shuttleBox{
    display: flex;
}

#shuttleBox .list{
    border: 1px solid #ddd;
    font-size: 14px;
    color:#666;
    width: 200px;
}

#shuttleBox .title{
    border-bottom: 1px solid #ddd;
}

#shuttleBox li{
    padding: 10px 10px;
}

#shuttleBox .move{
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#shuttleBox .move-left, .move-right{
    border: 1px solid #ddd;
    padding: 5px 13px;
}

#shuttleBox .move-right{
    margin-bottom: 12px;
}