@charset "UTF-8";
#shuttleBox{
    display: flex;
}

#shuttleBox .list{
    border: 1px solid #ddd;
    font-size: 14px;
    color:#666;
    width: 200px;
}

#shuttleBox .list li{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    height: 35px;
    padding-left: 10px;
}

#shuttleBox .title{
    border-bottom: 1px solid #ddd;
}

#shuttleBox .move{
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#shuttleBox .move-left, .move-right{
    border: 1px solid #ddd;
    padding: 5px 13px;
}

#shuttleBox .move-right{
    margin-bottom: 12px;
}

#shuttleBox .initBox{
    width: 15px;
    height: 15px;
    border: 1px solid #ddd;
    cursor: pointer;
    margin-right: 10px;
}

#shuttleBox .initBox:hover{
    border: 1px solid #5FB878;
}

#shuttleBox .selectedBox{
    width: 15px;
    height: 15px;
    border: 1px solid #5FB878;
    background-color: #5FB878;
    cursor: pointer;
    position: relative;
    margin-right: 10px;
}

#shuttleBox .selectedBox div:nth-of-type(1){
    width: 5px;
    height: 10px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    position: absolute;
    left: 4px;
}