@charset "UTF-8";
#pcIndex .header{
    width: 100%;
    background-color: #23262E;
    color: #BDBEC1;
    overflow: hidden;
    position: fixed;
    z-index: 10;
}

#pcIndex .header .title{
    float: left;
    font-size: 25px;
    font-weight: 300;
    padding: 15px 40px;
    color: rgb(191, 192, 194);
}

#pcIndex .navArea{
    width: 200px;
    position: absolute;
    overflow: hidden;
    height: 100vh;
}

#pcIndex .nav{
    width: 217px;
    padding-top: 64px;
    background-color: #393D49;
    height: calc(100vh - 64px);
    position: absolute;
    font-size: 15px;
    font-weight: 300;
    overflow-y: auto;
}

#pcIndex .nav .title{
    padding: 10px 15px;
    display: inline-block;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    height: 37px;
}

#pcIndex .nav .title span{
    position: absolute;
    left: 17px;
}

#pcIndex .nav li{
    color: #fff;
    display: flex;
    flex-direction: column;
}

#pcIndex .nav dl{
    display: none;
    cursor: pointer;
}

#pcIndex .nav dl .active{
    background-color:#009688;
    color:#fff;
    border: none;
}

#pcIndex .nav dd{
    background-color: #282B33;
    color: #BFC0C2;
    font-size: 14px;
    padding: 6px 25px;
}

#pcIndex .nav .title i{
    float: right;
    position: absolute;
    width: 0;
    height: 0;
    content: "";
    border: 6px solid transparent;
    border-top: 6px solid #C4C5C9;
    left: 174px;
    top: 18px;
}

#pcIndex .header ul{
    float: right;
    padding: 0 66px;
}

#pcIndex .header li{
    float: left;
    font-size: 15px;
    padding: 20px;
    cursor: pointer;
}

#pcIndex .header .active{
    color: #fff;
    border-bottom: 5px solid #5FB878;
}

#pcIndex .body{
    width: 100%;
    padding-top: 65px;
    padding-left: 200px;
    min-height: 100vh;
    box-sizing: border-box;
}

#pcIndex .body ul{
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    overflow: hidden;
}

#pcIndex .body li{
    float: left;
    padding: 15px 30px;
}

#pcIndex .body .active{
    color: #5FB878;
    border-bottom: 3px solid #5FB878;
}

#pcIndex .body iframe{
    width: 100%;
    min-height: calc(100vh - 117px);
    border: none;
    overflow-y: auto;
}