@charset "UTF-8";
.pageArea{
    padding: 40px 10px;
}

fieldset{
    padding: 30px 20px;
    width: 100%;
    border: 2px solid #E6E6E6;
    margin-bottom: 25px;
    box-sizing: border-box;
}

fieldset legend{
    font-size: 20px;
    margin-left: 20px;
    color: #464646;
    font-weight: 300;
}